.features-section-container {
  max-width: 1110px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .features-section-container {
    font-size: 30px;
    justify-content: space-between;
    flex-direction: row;
    line-height: 1.42;
    text-align: left;
  }
}
